#scene {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}
#controls {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.inner-controls {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}